<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login Quản lý nhân viên</title>
    </head>
    <body>
        <h1>Quản lý nhân viên Conek</h1>
        <p> The time is @DateTime.Now</p>
        <div id="Content">
            @RenderBody()
        </div>
        @RenderPage("header.cshtml")
        <h1>Hello Web Pages</h1>
        <p>This is a paragraph</p>
        @RenderPage("footer.cshtml")
    </body>
</html>
